<div class="jumbotron text-center">
  <h1>Pitcher</h1>
  <p class="lead">... where memories get pitchered</p>
  <div>
    <a class="btn btn-success" [routerLink]="['/register']" > Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']" >Login <span class="glyphicon glyphicon-log-in"></span></a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h1>Share Photos</h1>
    <p>Share your amazing photos with your friends</p>
  </div>
  <div class="col-md-4">
    <h1>Share Photos</h1>
    <p>Share your amazing photos with your friends</p>
  </div>
  <div class="col-md-4">
    <h1>Share Photos</h1>
    <p>Share your amazing photos with your friends</p>
  </div>
</div>